*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;

}
.wrapper{
    max-width: 1080px;
    margin: auto;
    width: 90%;
    /* border: 1px solid red; */
}
.top-title h1{
    color: red;
    font-weight: 700;
    padding: 10px 0 10px;
    font-size: 40px;
    text-transform: uppercase;
}
.left-content{
    flex: 3;
}
.right-content{
    flex: 1;
}
.menu{
    background-color: rgb(201, 33, 33);
    color: #fff;
}
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-bar ul{
    list-style: none;
    display: flex;
   margin : 10px 0;
}
.top-bar ul a{
    margin-right: 20px;
    text-decoration: none;
    color: #fff; 
}
.top-bar ul li{
   border-left: 2px solid #fff;
   padding-left: 10px;
   font-weight: 700;
}
.top-bar ul li:first-child{
    border-left: none;
    padding-left: 0;
}

.search-box input[type="text"]{
    padding: 5px;
    border: none;
    width: 200px;
}
.fisrt-content{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.topics button{
    background-color: #d9d6d6;
    color: #929191;
    border: none;
    padding: 5px 10px;
    margin: 10px 5px 10px 0;
    cursor: pointer;
    border-radius: 2px;
}
.topics button:hover{
    background-color: #b4b1b1;
    color: #000;
}
.noidungchinh{
    display: flex;
    gap: 30px;
}
.chinh{
    flex: 3;
}
.phu{
    flex: 1;
    max-width: 200px;
   overflow-wrap: break-word;
}
.chinh img{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
}
.sidebar-title{
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 18px ;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sidebar-title:before{
    content: "";
    width: 4px;
    height: 18px;
    background-color: red;
    margin-right: 8px;
}
.side-items{
    display: flex;
    margin-bottom: 20px;
    margin-right: 10px;
    gap: 10px;
}
.side-items>img{
    width: 90px;
    height: 60px;
    object-fit: cover;
            flex-shrink: 0;
}
    
.xemnhieu-title{
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 18px ;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
.xemnhieu-title:before{
    content: "";
    width: 4px;
    height: 18px;
    background-color: red;
    margin-right: 8px;
}
.xemnhieu-list{
    display: flex;
    gap: 14px;
}
.xemnhieu-items>.noidung{
    display: flex;
    gap: 10px;
}
.rank{
    width: 42px;
    height: 42px;
    background: #e53935;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.xemnhieu-items>img{
    width: 100%;
    height: auto;
}
.xemthem{
    background-color: #d9d6d6;
    margin-top: 5px;
}
.xemthem-title{
    display: flex;
    font-weight: 700;
    margin-bottom: 10px;
    align-items: center;
    margin-top: 10px;
    text-transform: uppercase;
}
.xemthem-title:before{
    content: "";
    background-color: #e53935;
    width: 4px;
    height: 18px;
    margin-right: 8px;
    margin-left: 20px;
}
.topbar-xemthem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topbar-xemthem>.xemthem-left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.xemthem-right>a{
    text-decoration: none;
    color: grey;
    padding-right: 10px;
}
.xemthem-right a:hover{
 color: rgb(83, 83, 83);
}
.luachon{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 20px 0 20px;
}
.luachon-items img{
    width: 100%;
    height: auto;
}
.tinmoi{
    display: flex;
}
.tintuc-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tinmoi-left{
    border-right: 1px solid gainsboro;
    margin-top: 20px;
    flex: 1;
}
.tintuc-items{
    display: flex;
    border-bottom: 1px dashed gainsboro;
    padding: 15px 15px 15px 0;
}
.tintuc-items img{
    width: 300px;
    height: 150px;
    padding-right: 10px;

}
.chamxanh{
    display: flex;
    font-weight: 700;
    align-items: center;
    margin-top: 15px;
}

.chamxanh:before{
    content: "";
    background-color: aqua;
    border-radius: 50%;
    height: 4px;
    width: 4px;
     margin-right: 8px;
    
}
.title-tinmoi{
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 18px ;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
.title-tinmoi:before{
    content: "";
    width: 4px;
    height: 18px;
    background-color: #e53935;
    margin-left: 5px;
    margin-right: 8px;
}
.thegioi-title{
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 18px ;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}
.thegioi-title:before{
    content: "";
    width: 4px;
    height: 18px;
    background-color: #e53935;
    margin-left: 5px;
    margin-right: 8px;
}
.thegioi-right{
    margin-top: 20px;
    padding-left: 20px;
    flex: 1;
    flex-direction: column;
    display: flex;
    border-bottom: 1px dashed gainsboro;
}
.topbar-thegioi{
    display: flex;
}
.topbar-thegioi .top-items{
    padding-left: 15px;
    margin-top: 12px;
    text-transform: uppercase;
    color: #929191;
}
.thegioi-items{
    display: flex;
    padding-bottom: 5px;
}
.thegioi-items img{
    width: 150px;
    margin-right: 10px;
    height: 80px;
    object-fit: cover;
}
.tag-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.tag-list .tag{
    border: 2px solid rgb(187, 187, 187);
    padding: 5px 10px 5px 10px;
    color: #7e7e7e;
    font-weight: bold;
}
